<div>
<table style="width:100%; font-size:18px;">
  <tbody> 
    <tr>
      <td><strong><%= l('field_codigo') %>:</strong> <%= @aplicativo.codigo %></td>
    </tr> 
    <tr> 
      <td><strong><%= l('field_nombre') %>:</strong> <%= @aplicativo.nombre %></td>
      <td><strong><%= l('field_descripcion') %>:</strong> <%= @aplicativo.descripcion %></td>
    </tr> 
  </tbody> 
</table>
<div>



