<% if issue.departments.any? %>
  <div class="wiki">
    <% issue.departments.each do |department| %>
      <table class="list" style="border: 0px!important;  border-collapse: separate!important;">
        <tr>
          <strong><%= link_to(department.nombre, department, :id => department) %></strong>
          <% if authorize_for('departments', 'removeissue') %>
            <span style="margin-left:10px;"><%= delete_link issue_remove_department_path(issue, department), :remote => true %></span>
          <% end %>
        </tr>
        <tr>
          <td><strong><%= l('field_nombre') %>:</strong> <%= department.nombre %></td>
          <td><strong><%= l('field_codigo') %>:</strong> <%= department.codigo %></td>
        </tr> 
        <tr> 
          <td><strong><%= l('field_direccion') %>:</strong> <%= department.direccion %></td>
          <td><strong><%= l('field_direccion2') %>:</strong> <%= department.direccion2 %></td>
        </tr> 
        <tr> 
          <td><strong><%= l('field_telefono') %>:</strong> <%= department.telefono %></td>
          <td><strong><%= l('field_email_oficina') %>:</strong> <%= department.email_oficina %></td>
        </tr> 
      </table>
      <br/><br/>
    <% end %>
  </div>
<% else %>
  <div class="wiki">
    <ul>
      <li><em><%= l(:label_none) %></em></li>
    </ul>
  </div>
<% end %>
