<%= form_for @aplicativo do |f| %>
  <%= error_messages_for 'aplicativo' %>
  <h3><%= l(:aplicativo_information) %></h3>
  <table>
    <tbody>
      <tr>
        <td style="text-align:right;"><%= f.label l(:field_codigo) %>:</td>
        <td><%= f.text_field :codigo, :size => 40 %></td>
      </tr>
      <tr>
        <td style="text-align:right;"><%= f.label l(:field_nombre) %>:</td>
        <td><%= f.text_field :nombre, :size => 40 %></td>
      </tr>
      <tr>
        <td style="text-align:right;"><%= f.label l(:field_descripcion) %>:</td>
        <td><%= f.text_field :descripcion, :size => 40 %></td>
      </tr>
    </tbody>
  </table>
  <hr />

  <p>
    <%= f.submit "#{f.object.new_record? ? l(:link_create) : l(:link_save)}" %> <%= f.object.new_record? ? link_to(l(:link_cancel), aplicativos_path) : link_to(l(:link_cancel), aplicativo_path, :id => @aplicativo)  %>
  </p>
<%- end %>
